:root {
    --website-color-orange: #FFCE22;
    --main-colorblack: #1F2128;
}

.button {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: var(--main-colorblack);
}

.property-1-default {
    background: var(--website-color-orange);
}

.property-1-default:hover {
    background: #FFD84D;
}